body {
	font-family:$reg-font;
}
header {
	background:$which-grey;
	width:100%;
	height:50px;
	.m--logo {
		float:left;
		height: 50px;
	}
	h2 { float:right; color:$white; 
     @include typecsset-font-size(14px);
     	padding:10px 40px; 
     	a { color: $which-red; text-decoration:none; 
     		&:hover, &:focus { color: lighten($which-red, 10%); }
     	}
     }
}

h1 { color:$which-dblue; font-size:30px; font-weight: 100; text-align:left; padding:12px 15px 13px;}

@mixin mainBox() {
	
	text-align:left;
	@include column(6);
	@include push(3);
	@include pull(3);
	border:1px solid #e0e0e0;
	box-shadow: 0 0 20px -2px rgba(43,50,57,0.18);
}


#fetchForm {
	label { color:$which-red; text-align:left; padding:0 0 20px 0; }
	.b--form-field { margin-bottom:20px;}

		@include mainBox; 
	form {

			padding:50px;

			fieldset { 
				@include column(6);
				@include push(3);
			}
			overflow:hidden;
			padding:40px;
			legend { color: $which-red; }
		}
}

#tabbedBox { @include mainBox;  

	display:none;
	.form-row { text-align:center;}

		.ui-state-disabled { opacity:0.3; 
			a { cursor: pointer; }
		}

	> ul {
		li { width:33.33%; float:left;  background:#e5e5e5; 
			text-align:center;
			a { color:$which-dblue;  padding:10px 20px; display:block; text-decoration:none; }
		}
		li:hover, li:focus { background: lighten($which-dblue, 10%); a { color:$white; } }
		li:nth-child(2) { border-right:5px solid $white;border-left:5px solid $white; }
		.ui-tabs-active { background:$which-dblue;
			a { color: $white; outline:none;}
		}
	}

	section { padding:20px; clear:both;}

	#customiseForm {
		form { margin:20px 0;}
		label {display:none;}
		.form-row { padding:20px 0; cursor:move;}
	}

	h2 { color:$which-grey; font-size:24px; }
	p { 
     @include typecsset-font-size(14px);
 }
	#personaliseForm {
		padding: 0;
		section { padding: 50px 20px;}
		h3 { float:left; background:#e5e5e5; border-bottom:2px solid darken(#e5e5e5, 10%); color:$which-grey; width:100%; display:block; width:100%; padding:20px; font-size:20px; margin:0; cursor:pointer; outline: 0; }
		form { margin:20px 0;}
		label { @include column(4); font-size:16px; display:table-cell; vertical-align:bottom; height:58px; }
		textarea, select, input:not([type="submit"]) { @include column(8); }
		.form-row { padding:20px 0;  }

	}

	#generateForm {
		.form-row { margin:20px 0 40px 0; }

		textarea { @include column(12); min-height:300px;}
	}

}

.ui-accordion-content { padding-bottom:20px;}
.ui-accordion-header-active { margin-bottom:30px;}
.row-hidden { display:none!important;}

#generateForm textarea { font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; font-size:11px;}


.ui-sortable-placeholder { background: lighten($which-grey, 70%); visibility:visible!important;}