$alabaster:#fafafa;
$alto: #dedede;
$cerise-red: #e72576;
$black: #000000;
$bombay: #b1b3b5;
$indigo: #437ec6;
$mine-shaft: #333;
$nevada: #6d6e70;
$olive-drab: #73a31f;
$razzmatazz: #E90564;
$red-violet: #b22081;
$regent-st-blue: #A0BEE2;
$sail: #bde5f8;
$sea-buckthorn: #f5a628;
$selective-yellow: #ffba00;
$white: #ffffff;
$wild-sand: #f4f4f4;