/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form ol, form ul {
	list-style: none;
	margin-left: 0;
}

.form { 

  fieldset {
  	border: 0;
  	padding: 0;
  	margin: 0;
  }

  label {
  	display: block;
    padding-right:20px;
    position:relative;
  }

  label .tooltip { position:absolute; right:0; }

  #personaliseForm input[type=checkbox],   #personaliseForm input[type=radio], .b--form-checkbox { margin-top:20px!important; }

  button, input, select, textarea {
      font-size:1em;
  }

  input, textarea, select {
  	width: 100%;
    @include rounded(3px);
    padding:15px;
    border: 2px solid #e6e6e6;
      background-color: #f8f8f8;
      outline: none;
      vertical-align: top;
      font-size: 14px;
      color: #212121;
      margin:0 0 10px 0;
  }

  input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  	-webkit-appearance: none;
  }

  .b--btn { font-size:16px;}
  button, input[type="submit"] {
  	 border:0;
     width:auto;
    	cursor: pointer;
      color:$white;
  }

  input[type="checkbox"],
  input[type="radio"] {
      width: auto;
      margin-right: 0.3em;
  }

  select { height:58px;}

  input[type="search"] {
      -webkit-appearance: none;
      border-radius: 0;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
      color:    $c-placeholder;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $c-placeholder;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $c-placeholder;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    $c-placeholder;
  }


  //Form Field Container
  .field-container {
      
  }

  .inline-form {
  	fieldset, .inline-container {
  		position: relative;
  	}
  	
  	input[type=submit], button, .btn {
  		padding: 0.65rem 1.3rem;
  		background: $c-submit-bg;
  		position: absolute;
  		top: 0;
  		right: 0;
  		width:100%;
  		@include rounded(15px);
  		z-index: 1;
  		width: auto;

  		&:hover, &:focus {
  			background: $c-submit-bg-hover;
  			color: $c-submit-hover;
  		}
  	}
  }

  /* Validation */
  .has-error, .error, .ErrorLabel {
  	border-color: $c-error;
  }
  .is-valid {
  	border-color: $c-valid;
  }

  input:invalid { border:0!important; }

  .infoItem, .successItem, .warningItem, .errorItem, .validationItem {
  border: 1px solid;
  @extend .mvxs;
  @extend .pvxs;
  @extend .phs;
  @extend .plxl;
  }
  .infoItem {
      color: #00529B;
      background-color: $sail;
  }
  .successItem {
      color: #4F8A10;
      background-color: #DFF2BF;
  }
  .warningItem {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .errorItem {
      
  }

  .form-radio--label { margin-bottom:0; padding:0;}
  .search-form {
      fieldset { position:relative; 
                 input { font-size:1em; }

                 .submit-search
                 {
                     background: none;
                     border:0;
                     position:absolute;
                     top:0;
                     right:0;
                     height:100%;
                     width:40px;
                     color:$c-search-submit;
                 }
      }
  }

  .styled-select {
      background: $c-input-bg;
      border: 1px solid $c-input-border;
      cursor: pointer;
      position:relative;
      height: $input-height;
      overflow: hidden;
      @include column(12);
      
      .styled-select-overlay {
          background: $c-input-border;
          color: $white;
          cursor: pointer;
          display: table;
          height: $input-height - 2;
          pointer-events: none;
          position: absolute;
          right: 0;
          width: $input-height;
          z-index: 1;
          span {
              display:table-cell;
              vertical-align: middle;
              width:100%;
              height:100%;
          }
      }
      
      select {
          background: none repeat scroll 0 0 transparent;
          border: 0 none;
          color: $c-input;
          cursor: pointer;
          height: $input-height;
          line-height: 100%;
          padding: $input-padding;
          width: 100%;
          float:left;
      }

  }

  label.visible-label { display:inline-block!important; font-size:18px; padding: 0px;  @include column(11); margin-bottom:10px;
  }

  .form-radio--label + .visible-label, input[type=checkbox] + .visible-label , input[type=radio] + .visible-label { float:right;}

  .visible-label + input { @include column(1); margin-top:3px; }

  .form-row { @include column(12); }
  .form-row--half { @include column(6); }

}

.checkbox-text { clear: both; font-size:14px; @include column(12);}

.form-row.form-row--left {text-align:left!important; }

.desc { font-style:italic; color: $which-grey; }
.desc, .error { 
        @include typecsset-font-size(11px, 100%);
}

.form-field-static { padding:0; margin:0;}

.btn-disabled { opacity:0.4; cursor:default!important; }
.error { }



.loading-animation { opacity: 0.8; animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;}


@keyframes loadingH {
    0% {width: 115px;}
    50% {width: 125px; padding: 4px;}
    100% {width: 115px;}
}

.invalid-fields { background: $which-red; border:1px solid $which-red; padding:10px;}

p.form-missing.error {  rgba(231, 55, 85, 0.6); border:1px solid $which-red;   width: 100%; padding:10px; float: left; color: white;  margin: 20px 0; }

.invalid-fields { border:2px solid $which-red!important; }
