ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0;
        @extend .mvl !optional; 
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

ul, ol, dd {
    @extend %typecsset-vertical-rhythm;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

 ul.bullet-list {
    margin-bottom:20px;
    li { 
        padding: 10px 0;
        display: block;
        width: 100%;
        text-align: left;
        [class^="icon-"], [class*=" icon-"] { margin-right:10px; }

    }
}