// Spacing

// https://github.com/mrmrs/tachyons/blob/master/sass/_spacing.scss

// ..::KEY::..
// p = padding    m = margin
// h = horizontal v = vertical
// t = top        b = bottom
// l = left       r = right
// n = none       xs = extra small  s = small
// m = medium     l = large
// x = extra      xl = extra large
// ------------

$spacing: (
  n: 0, xxs: 1,
  xs: 6,
  s: 12, m: 15,
  l: 20, x: 35,
  xl: 48, xll: 54
);

//@extend .paxs
  
@each $i in map-keys($spacing) {
  .pa#{$i} {
    padding: map-get($spacing, $i) * 1px;
  }
  .ph#{$i} {
    padding-left: map-get($spacing, $i) * 1px;
    padding-right: map-get($spacing, $i) * 1px;
  }
  .pv#{$i} {
    padding-top: map-get($spacing, $i) * 1px;
    padding-bottom: map-get($spacing, $i) * 1px;
  }
  .pt#{$i} {
    padding-top: map-get($spacing, $i) * 1px;
  }
  .pb#{$i} {
    padding-bottom: map-get($spacing, $i) * 1px;
  }
  .pl#{$i} {
    padding-left: map-get($spacing, $i) * 1px;
  }
  .pr#{$i} {
    padding-right: map-get($spacing, $i) * 1px;
  }
  
  .ma#{$i} {
    margin: map-get($spacing, $i) * 1px;
  }
  .mh#{$i} {
    margin-left: map-get($spacing, $i) * 1px;
    margin-right: map-get($spacing, $i) * 1px;
  }
  .mv#{$i} {
    margin-top: map-get($spacing, $i) * 1px;
    margin-bottom: map-get($spacing, $i) * 1px;
  }
  .mt#{$i} {
    margin-top: map-get($spacing, $i) * 1px;
  }
  .mb#{$i} {
    margin-bottom: map-get($spacing, $i) * 1px;
  }
  .ml#{$i} {
    margin-left: map-get($spacing, $i) * 1px;
  }
  .mr#{$i} {
    margin-right: map-get($spacing, $i) * 1px;
  }
}