/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//dialog Colors
$c-error: #ff0000;
$c-valid: #23d027;
$c-warning: #333;
$c-information: #8ec7e8;

//global colours
$c-link: $mine-shaft;
$c-link-hover: $mine-shaft;

//form colours
$c-input : $mine-shaft;
$c-input-bg : $alto;
$c-submit-bg : $mine-shaft;
$c-submit-border: $mine-shaft;
$c-submit-bg-hover : $mine-shaft;
$c-submit-hover : $mine-shaft;
$c-input-border: $mine-shaft;
$c-border:  $mine-shaft;
$c-placeholder: $mine-shaft;
$c-search-submit: $mine-shaft;
//table colours
$c-table-border: $mine-shaft;

$btn-padding: 11px 82px;
//horizontal rule
$c-hr: $alto;

$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

//form heights

$input-height: 34px;
$input-padding: 5px;

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
$reg-font: 'Droid Sans', sans-serif;
